# Entorno virtual
env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# # Bases de datos locales
# *.db
# *.sqlite3

# Archivos de configuración del entorno
.env
*.env

# Configuraciones específicas del entorno de desarrollo
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos temporales de sistema operativo
.DS_Store
Thumbs.db

# Directorios y archivos de distribución
dist/
build/
*.egg-info/